body{
    margin: 0;
    background-image: linear-gradient(135deg, #dea8b1 0%, #f4d3d8 100%);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.iconLogo {
    background-color: #faede1;
    padding: 16px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    position: relative;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.iconLogo img{
    background-color: white;
    height: 60px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
}

.img-logo{
    mix-blend-mode: multiply;
}

/* Seçao principal */
#Sobre{
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 60px 80px;
    background: transparent;
}

#Sobre img{
    width: 55%;
    border-radius: 15px;
    object-fit: cover;

    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    animation: float 3s ease-in-out infinite;
}

.texto{
    flex: 1;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: #333;
    margin-bottom: 20px;
}

.texto p{
    font-size: 18px;
    line-height: 1.8;
    color: #555;
}

/* Estatisticas */
.stats{
    display: flex;
    gap: 50px;
    margin: 30px 0;
}

.stat h2{
    font-size: 40px;
    color: #333;
    margin-bottom: 10px;
}

.stat span{
    font-size: 18px;
    color: #555;
}


/*
button{
    background-color: #333;
    color: #faede1;

    padding: 15px 30px;

    border: none;
    border-radius: 30px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: transform 0.2s ease;
}

button:hover{
    transform: translateY(-3px);
    background-color: #555;
}
    */


/* animacao que faz a imagem ir pra cima e pra baixo */
@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}

