*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(135deg, #dea8b1 0%, #fdf5f5 100%);
    min-height: 100vh;
    color: #333;
    padding-bottom: 50px;
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faede1;
    padding: 15px 40px;
    position: relative;
    z-index: 10;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
    font-family: 'Poppins', sans-serif;
}

.iconLogo img{
    height: 60px;
    width: auto;
    object-fit: contain;
    border-radius: 10px;
}

.img-logo{
    mix-blend-mode: multiply;
}

.img-icons{
    mix-blend-mode: multiply;
}

.img-produto{
    mix-blend-mode: multiply;
}

.menubar{
    display: flex;
    gap: 30px;
}

.menubar a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.menubar a:hover{
    color: #e5989b;
}

.iconsPerfil{
    display: flex;
    gap: 20px;
}

.iconsPerfil img{
    display: inline-block;
    width: 23px;
    height: auto;
    cursor: pointer;
    transition: background-color 3s ease, transform 0.2s ease;
}

.iconsPerfil img:hover{
    transform: translateY(-3px);
}

.carrinho-container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.titulo-pagina{
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
}

.item-card{
    background-color: #e8d5d5;
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.item-card:hover{
    transform: translateY(-2px);
}

.item-info{
    display: flex;
    align-items: center;
    gap: 25px;
    flex: 2;
}

.item-info h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.item-info span{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    color: #666;
}

.img-produto{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.img-prod{
    width: 90%;
    height: 90%;
    object-fit: contain;
    mix-blend-mode: multiply;
}

.item-qtd{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 15px;
    gap: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.item-qtd input::-webkit-outer-spin-button, .item-qtd input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.btn-qtd{
    background: none;
    border: none;
    font-size: 18px;
    color: #555;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.2s;
}

.btn-qtd:hover{
    color: #dea8b1;
}

.qtd-numero{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 20px;
    text-align: center;
}

.item-preco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #333;
    flex: 1;
    text-align: right;
}

.carrinho-resume{
    background-color: #e8d5d5;
    border-radius: 15px;
    padding: 30px;
    margin-top: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.carrinho-resume h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 25px;
}

.resumo-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #666;
}

.resumo-row-total{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}

.btn-finalizar{
    display: block;
    width: 100%;
    background-color: #222;
    color: #faede1;
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-bottom: 15px;
}

.btn-finalizar:hover{
    background-color: #444;
    transform: translateY(-2px);
}

@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .menubar{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .iconsPerfil{
        justify-content: center;
    }

    .carrinho-container{
        flex-direction: column;
        padding: 20px;
    }

    .carrinho-itens,
    .carrinho-resume{
        width: 100%;
    }

    .carrinho-resume{
        position: static;
    }

    .item-card{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .item-info{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .item-qtd{
        width: fit-content;
    }

}
